# WH-1081 Weather Station udev rule for a Raspberry Pi
# ----------------------------------------------------
# Full credit to the original author: http://www.weather-watch.com/smf/index.php?topic=39257

ACTION!="add|change", GOTO="weather_station_end"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1941", ATTRS{idProduct}=="8021", GROUP="pi"

LABEL="weather_station_end"
